<p>
  <mat-toolbar style="height: 2cm;">
    <span>Request Form</span>
  </mat-toolbar>
</p>


<div class="container">
  <form>
    <div class="row g-8 align-items-start">
  
      <div class="form-group">
        <div class="col-md-12">
          
        <ol class="list-group list-group-numbered">
      
        <li class="list-item justify-content-between align-items-start form-group">
          <label class="form-label">Full Name</label>
          <input type="text" class="form-control" placeholder="Enter your answer">
        </li>
    
        <li class="list-item justify-content-between align-items-start">
          <label class="form-label">Phone Number</label>
          <input type="text" class="form-control" placeholder="Enter your answer">
        </li>

        <li class="list-item justify-content-between align-items-start">
        <label class="form-label">Apartment Number</label>
        <input type="text" class="form-control" placeholder="Enter your answer">
        </li>

        <li class="list-item justify-content-between align-items-start">
        <label class="form-label">Your Request</label>
        <textarea type="text" class="form-control" placeholder="Enter your answer"></textarea>
        </li>
        </ol>
 
        
        <button type="button" class="btn btn-block btn-default form-control">Submit</button>
        

      </div>

    </div>
  </div>
  </form>
</div>




  
